<footer>
    <div class="info-main">
        <div class="info-social bg-color-tertiary">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-github"></i>
        </div>
        <div class="info-copyRight">&copy; WanderLust Privated Limited</div>
        <div class="info-links">
            <a href="">Privacy</a>
            <a href="">Rules</a>
            <a href="">About</a>
        </div>
    </div>
</footer>